<section id="inicio" class="banner">
  <div class="overlay"></div>

  <div class="conteudo">
    <img class="logo" src="assets/white-logo.png" alt="Logo da banda T-ROX" />
    <h1 class="titulo">Rock puro, energia bruta</h1>
    <p class="subtitulo">
      O T-Rox é uma banda de Formiga-MG, a cidade do rock! <br />
      Com um repertório baseado em clássicos, que passeia pelo pop e pelo rock,
      o grupo é conhecido como "Os dinossauros do rock".
    </p>
    <div class="mouse">
      <div class="scroll"></div>
    </div>
  </div>
</section>
