<section id="contato" class="contato">
  <div class="container contato-container">
    <h2>Entre em contato</h2>
    <h3>
      Tem alguma proposta, parceria ou só quer bater um papo sobre rock? Manda
      uma mensagem pra gente!
    </h3>
    <div class="conteudo">
      <a
        class="card"
        href="https://www.instagram.com/t_rox_band/"
        target="_blank"
      >
        <div class="icone">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="texto">
          <span class="titulo">Instagram</span>
          <span class="valor">@t_rox_band</span>
        </div>
      </a>

      <a class="card" href="https://wa.me/37999882828" target="_blank">
        <div class="icone">
          <i class="fab fa-whatsapp"></i>
        </div>
        <div class="texto">
          <span class="titulo">WhatsApp</span>
          <span class="valor">(37) 99988-2828</span>
        </div>
      </a>

      <a class="card" href="https://www.youtube.com/@t-roxband" target="_blank">
        <div class="icone">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="texto">
          <span class="titulo">Youtube</span>
          <span class="valor">@t-roxband</span>
        </div>
      </a>
    </div>
  </div>
</section>
