.menu {
    width: 100%;
    max-width: 100vw;
    height: 64px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: var(--preto);
    color: var(--branco);
    opacity: 0.9;
    z-index: 50;

    .container {
        justify-content: space-between;

        .logo img {
            height: 50px;
            cursor: pointer;
        }

        .nav-itens {
            display: flex;
            gap: 2rem;

            a {
                color: var(--cinza-claro);
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5;
                transition: color 0.3s;

                &:hover {
                    color: var(--branco);
                }
            }
        }

        .redes-sociais {
            display: flex;
            gap: 1rem;

            a {
                color: var(--cinza-claro);
                font-size: 1.3rem;
                transition: color 0.3s;

                &:hover {
                    color: var(--branco);
                }
            }
        }
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-items {
        display: none; // aqui podemos trocar depois por menu hambúrguer
    }
}
