<section id="sobre" class="sobre">
  <div class="container sobre-container">
    <div class="sobre-texto">
      <h2>Sobre a T-Rox</h2>
      <div class="sobre-conteudo">
        <p>
          A T-Rox nasceu em 2022, na cidade de Formiga (MG), quando quatro
          amigos — Roberto, Jaime, Alex e Claudinho — decidiram transformar a
          amizade e a paixão pela música em uma nova jornada no rock. Já com
          experiências em outras bandas, eles rapidamente ganharam espaço e
          passaram a se apresentar em diversos eventos pelo interior de Minas
          Gerais, levando energia e atitude aos palcos.
        </p>
        <p>
          Em 2024, a banda viveu uma nova fase: o baixista e cantor original se
          despediu, mas deu lugar a uma formação especial. Rayana assumiu os
          vocais e Johann o baixo, trazendo novas influências e identidades ao
          grupo. Um detalhe curioso e cheio de significado é que Rayana é filha
          de Roberto, guitarrista da banda, e Johann, filho de Alex, tecladista
          — trazendo à T-Rox união e emoção.
        </p>
        <p>
          Desde então, a T-Rox segue firme com seus shows, apresentando um
          repertório que traz grandes clássicos do rock nacional e internacional
          com interpretações cheias de personalidade. Mais que música, a banda
          entrega sentimento, energia e a certeza de mementos inesquecíveis para
          quem curte o verdadeiro espírito do rock.
        </p>

        <hr class="linha" />
      </div>
    </div>

    <div class="sobre-imagem">
      <img src="assets/banda.jpg" alt="Foto da banda T-Rox" />

      <div class="sobre-icone">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 24"
        >
          <g fill="none" stroke="currentColor" stroke-width="2">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19 16l.87-11.735a2.102 2.102 0 0 0-4.181-.433L15 9m-7 2l-.713-4.279a2.06 2.06 0 0 0-4.083.525L4 16m8-3v-1.5a2 2 0 1 0-4 0V15"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16 13v-2a2 2 0 1 0-4 0v2"
            />
            <path d="M19 16c-.536 4-3.358 6-7.5 6S4 20 4 16" />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.692 17H11a2 2 0 1 1 0-4h4c2.21 0 4.5 2 3.5 5"
            />
          </g>
        </svg>
      </div>
      <div class="sobre-logo">
        <img
          class="logo"
          src="assets/white-logo.png"
          alt="Logo da banda T-ROX"
        />
      </div>
    </div>
  </div>
</section>
